node_modules
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
scratch/
.vscode-test/
dist/
*.vsix
.env
.cpqdevkit
*.lock
/bml
package-lock.json
app/lang/settingsPanel/webview/dist/
app/lang/spellCheck/english-words.txt.br